extends layout

block content
  button.btn.btn-primary.btn-block.mb-2#fblogin='Facebok Login'
  //- iframe(src='https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fdidigh%2Fvideos%2F10156406311488308%2F&width=400', width='400', height='400', scrolling='no', frameBorder='0', allowTransparency='true', allowFullScreen='true')
  video(width='100%',autoplay='true', loop='true')
    source(src='https://www.w3schools.com/html/mov_bbb.mp4', type='video/mp4')
  div#options.text-center
    button.btn.btn-primary.ml-1='Option1'
    button.btn.btn-info.ml-1='Option2'
    button.btn.btn-light.ml-1='Option3'
  script(src='/js/app.js', type='text/babel')
