doctype html
html
  head
    title='Live QA'
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/app.css')
    script(crossorigin='anonymous', src='https://unpkg.com/babel-standalone@6.15.0/babel.min.js')
    script(crossorigin='anonymous', integrity='sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=', src='https://code.jquery.com/jquery-3.3.1.min.js', )
  body.text-center
    div#root
    div#fb-root
    script.
      (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/en_US/sdk.js';
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    block content
    